body {
    font-family: 'Libre Franklin', sans-serif;
}
.page-section {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 500px;
    margin: 10px;
    position: relative;
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

/* Page Title with picture ------------------------------*/
.title {
    position: relative;
    text-align: center;
    color: antiquewhite;
}
.title-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#title-img {
    width:100%; 
    height:150px; 
    object-fit: cover;
}  

/* To do list -------------------------------------------*/
#todo-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333;
}

.todo-item a {
    display: block;
    color: white;
    padding: 22px 16px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.todo-item a:hover {
    background-color: #0054B2;
    color: white;
}

#todo-list-add {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #333;
    color: white;
    border: none;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

#todo-list-add:hover {
    background-color: #0054B2;
    color: white;
}

/* Page content ---------------------------------------------*/
#business-picture {
    max-width: 100%;
    height: auto;
}

#contact-info {
    font-size: 1.1em;
}
 

.chat-msg {
    text-align: left;
    padding: 12px 30px;
}

#msg-input {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 93%;
    margin: 10px;
    font-size: 14px;
}

#chat-box {
    height: 380px;
    overflow-y: scroll;
    border: 0;
}

#list-container {
    height: 380px;
    overflow-y: scroll;
    border: 0; 
}

/* Add to do item modal ------------------------------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 6px solid #0054B2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    width: 400px;
    text-align: center;
    background: #fff;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%)
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #0054B2;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
}

.modal-body {padding: 2px 16px;}

.modal-input { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 280px; 
  padding: .4em;
}

.modal-submit {
    background-color: #333;
    color: white;
    border: none;
    padding: 12px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px auto;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
  
    display: block; 
    width: 280px; 
}

.modal-submit:hover {
    background-color: #0054B2;
    color: white;
}

.edit-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 12px 30px;
    text-align: center;
    font-size: 16px;
    margin: 4px 26px auto;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline; 
    width: 110px; 
}

.edit-button:hover {
    background-color: #0054B2;
    color: white; 
}