body {
    font-family: 'Libre Franklin', sans-serif;
}
.client {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 350px;
    margin: 10px;
    position: relative;
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    cursor: pointer;
}
.client-picture {
    max-width: 100%;
    height: auto;
}
.title {
    position: relative;
    text-align: center;
    color: antiquewhite;
}
.title-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#title-img {
    width:100%; 
    height:150px; 
    object-fit: cover;
}   