body {
    font-family: 'Libre Franklin', sans-serif;
}
.client {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 350px;
    margin: 10px;
    position: relative;
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    cursor: pointer;
}
.client-picture {
    max-width: 100%;
    height: auto;
}
