*{
    padding: 0;
    margin: 0;        
    font-family: 'Libre Franklin', sans-serif;             
}

body{
    /*background-image: url("../img/planner/rose.jpeg");*/
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center center;
   
}

h3{
    color: #464646;
    font-size: 28px;
    margin-bottom: 18px;
}

#pagedivR{
    display: none;
    background-color: white;                               
    display: inline-block;
    height:100%;      
    font-weight: 600;
    font-size: 23px;
}

#contentdivR{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 15px;
    display: inline-block;
}

input[type=text],input[type=email],
input[type=password],input[type=tel]{
    font-size: 18px;
    padding: 5px 5px 1px 4px;   
    width: 290px;
    border:none;
    border-bottom: 2px solid #ccc;                
    margin-bottom: 8px;   
    margin-top: 8px;                
}

input[type=text]{ 
    margin-top: 8px; 
    margin-bottom: 4px;                
    width: 130px;
}

#lnameidR{
    margin-left: 10px;
}

input[type=radio]{
    margin-left: 30px;
}

input[type=submit]{                
    padding: 8px 12px 8px 12px;    
    text-align: center;        
    font-size: 16px;    
    font-weight: 600;                
    background: #008CBA;
    border: 2px;
    border-radius: 4px; 
    text-decoration: none;
    display: inline-block;
    color: white;
    
    margin-top: 5px;
    margin-left: 85px;
    margin-bottom: 10px;
}       

input[type=submit]:hover{
    background: #1C7ABA;
}  

::placeholder{
    color: #888888;
}