.todo_item {
    display: block;
    color: white;
    padding: 22px 16px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.todo_item:hover {
    background-color: #0054B2;
    color: white;
}

.list_container {
    height: 380px;
    overflow-y: scroll;
    border: 0; 
}

#business_types {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333;
}

#collaborators {
    background-color: #333;
    color: white;
    border: none;
    padding: 12px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 15px auto;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
  
    display: block; 
    width: 350px; 
}

#collaborators:hover {
    background-color: #0054B2;
    color: white;
}

.page_section {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 520px;
    margin: 10px;
    position: relative;
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}